.container {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 48%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-abstract {
  margin-bottom: 15px;
}

.card-info {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.read-more {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.read-more:hover {
  background-color: #0056b3;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.active-link {
  color: #007bff;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.nav a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.nav a:hover {
  background-color: #ddd;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content .container {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .nav {
    max-width: 100%;
    width: auto;
  }
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.book-card h3 {
  margin: 0;
}

.book-card h4 {
  color: #666;
  margin-top: 5px;
}

.book-card p {
  margin: 10px 0 0;
}
